{% extends "base.html" %}

{% block disqus %}
<h2 id="__comments"></h2>
<form id="gitalk-form" onsubmit="return false;">
    <div id="gitalk-container"></div>
</form>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="https://cdnjs.loli.net/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script>
    const gitalk = new Gitalk({
        clientID: '16c34b0f1374a3850a65', // add yourself's
        clientSecret: '0bfc2bfa7c85690e0706ecd6692ded41244f7761', // add yourself's
        repo: 'comment',
        owner: 'HNU-CSEE-Nuwa',
        admin: ['HNU-CSEE-Nuwa'],
        id: md5(location.pathname),      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('gitalk-container')
</script>
{% endblock %}